<div class="col-md-12 box-blue txtpadd whitetext" style="margin-top:-20px;">
  <div class="container">
    <div class="col-md-6">
      <h3>WE CAN DO A LOT OF THINGS</h3>
      <p>JUST TAKE A LOOK & CONTACT US</p>
    </div>
    <div class="col-md-6">
      <ul class="breadcrumb pull-right">
        <li class="active">services</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="container" style="padding:5%">
    <div class="row centered">
    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/web.png") %>
      <h4>WEB DEVELOPMENT</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>

    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/seo.png") %>
      <h4>SEO SERVICES</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>


    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/social.png") %>
      <h4>SOCIAL MEDIA</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>
  </div>


    <div class="row centered">
    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/ecom.png") %>
      <h4>e-COMMERCE</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>

    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/cloud.png") %>
      <h4>CLOUD SERVICES</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>


    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/lms.png") %>
      <h4>LMS DEVELOPMENT</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>
  </div>

    <div class="row centered">
    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/vconf.png") %>
      <h4>VIDEO CONFERENCING</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>

    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/widewifi.png") %>
      <h4>WIDE WIFI</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>


    <div class="col-md-4 txtpadd">
        <%= image_tag("glyfy/wiinter.png") %>
      <h4>WIRELESS INTERNET</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>
  </div>


  </div>
</div>
