

<style>
.glyphicon-lg
{
    font-size:4em
}
.info-block
{
    margin-bottom:25px
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;padding:20px 0
}
.info-block.block-info:hover
{
    border:1px solid #20819e;
}
.info-block.block-info .square-box
{
    color:#FFF
}
.btn-circle{
    width: 30px;
    height: 30px;
    padding: 3px;
    font-size: 18px;
    line-height: 1.33;
    float:right;
    border-radius: 15px;
}
.txtstyle{
    color:black;
}
.txtmsg{
    color:blue;
}
</style>
<script>
$(function() {    
        $('#input-search').on('keyup', function() {
            var rex = new RegExp($(this).val(), 'i');
            $('.searchable-container .items').hide();
            $('.searchable-container .items').filter(function() {
                return rex.test($(this).text());
                }).show();
            });
        });
</script>

<div class="container">

    <div class="row">
        <h2>Expertise list</h2>
        <div class="col-lg-12">
            <div class="col-md-6">
                <% if notice %>
                    <div data-alert class="alert alert-success">
                    <a href="#" class="close">&times;</a>
                    <%= content_tag :div, notice %>
                </div>
            <% end %>
            </div>

            <input type="search" class="form-control" id="input-search" placeholder="Search contacts..." >
        </div>
        <div class="searchable-container">

            <% @expert_list.each do |list| %>   
                <div class="items col-md-6 clearfix" style="padding:1%;margin-top:1%;">

                <div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                        <%= link_to 'X', list, method: :delete, data: { confirm:   'Are you sure?' }, type: "button" , class: "btn btn-info btn-cycle" %> 
                    </div>
                    <table>
                        <tr><td>Name : </td><td class="txtstyle"><%= list.name %></td></tr>
                        <tr><td>Email : </td><td class="txtstyle"><%= list.email %></td></tr>
                        <tr><td>Subject : </td><td class="txtstyle"><%= list.subject %></td></tr>
                        <tr><td>Message : </td><td class="txtmsg"><%= list.question %></td></tr>
                        <tr><td>Date</td><td class="txtstyle"><%= list.created_at %></td></tr>
                    </table>
                </div>
            </div>
        <% end %>                 
        </div>
    </div>
</div>






