<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email , class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile , class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_area :subject , class: 'form-control', rows: '1' %>
  </div>
  <div class="field">
    <%= f.label :Message %><br>
    <%= f.text_area :Message , class: 'form-control',rows: '7' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
