<!DOCTYPE html>
<html>
<head>
<title>C4s</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-static navcolor" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Centre 4 Social computing </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?('/') %>"><a href="/">Home</a></li>
        <li class="<%= 'active' if current_page?('/Expertise') %>"><a href="/Expertise">Expertise</a></li>
        <li class="<%= 'active' if current_page?('/works') %>"><a href="/works">Work</a></li>
        <li class="<%= 'active' if current_page?('/aboutus') %>"><a href="/aboutus">About</a></li>
        <li class="<%= 'active' if current_page?('/c4s/contact') %>"><a href="/c4s/contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<div class="row box-green txtpadd" style="margin-top:-20px;">
  <div class="container">
  <div class="col-md-6">
    <h1> work</h1>
    <p>our work </p>
  </div>
  <div class="col-md-6">
    <ul class="breadcrumb pull-right">
      <li class="active">work</li>
    </ul>
  </div>
  </div>
</div>
<div class="row" style="margin-top:3%">
  <div class="container">
    <div class="col-md-3 leftmenu">
      <ul class="nav">
        <li><a href="#">Arividam</a></li>
        <li class="active"><a href="/works/arividam"> Arividam</a></li>
        <li><a href="/works/lms">LMS</a></li>
        <li><a href="/works/peecs">PEECS</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
  </div>
<%= render 'layouts/homefooter/footer' %>


</body>
</html>
